<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Викторина 2</title>
</head>
<body>
    <a href="/">На главную</a>
    <h1>{{ question_db2 }}</h1>
    <p>Варианты ответа:</p>
    <ul>
        <li>{{ answer_db2 }}</li>
        <li>{{ wrong1_db2 }}</li>
        <li>{{ wrong2_db2 }}</li>
        <li>{{ wrong3_db2 }}</li>
    </ul>
</body>
</html>